---
// import Logo from './ui/icons/Logo.astro';
import { navLinks } from '@/data/navLinks';
// import MenuClose from '@/components/ui/icons/MenuClose.astro';
// import MenuOpen from '@/components/ui/icons/MenuOpen.astro';
import NavLink from './ui/NavLink.astro';

const testLogo = 'Nerdz';
---

<header
  class="mx-auto flex w-full max-w-5xl items-center justify-between bg-transparent px-6 py-4 xl:px-0"
>
  <!-- <Logo /> -->
  <h1 class="text-3xl font-bold text-lblue md:text-4xl">
    <a href="/" class="font-logofont">{testLogo}</a>
  </h1>

  <!-- Desktop navigation -->
  <nav>
    <div
      class="flex flex-row items-center justify-between gap-y-4 py-4 xl:px-0"
    >
      <div>
        <ul class="hidden space-x-6 font-medium sm:flex">
          {
            navLinks.map((link) => (
              <NavLink
                title={link.title}
                url={link.url}
                currentPath={Astro.url.pathname}
              />
            ))
          }
        </ul>
      </div>
      <!-- <button
        id="mobile-menu"
        aria-controls="navbar-collapse"
        aria-label="Toggle navigation"
        class="block sm:hidden"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 flex-shrink-0 fill-current"
          width="24"
          viewBox="0 0 448 512"
        >
          <path
            d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
          ></path></svg
        >
      </button> -->
      <div id="mobile-menu" class="container inline-block sm:hidden">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
  </nav>
</header>

<!-- mobile nav  -->
<nav
  id="navbar-collapse"
  class="transition-max-height bg-primary dark:bg-secondaryDark hidden max-h-0 w-full overflow-hidden duration-300"
>
  <ul
    class="flex w-full flex-col items-center justify-between border-t border-neutral-50 border-opacity-5"
  >
    {
      navLinks.map((link) => (
        <NavLink
          title={link.title}
          url={link.url}
          isMobile={true}
          currentPath={Astro.url.pathname}
        />
      ))
    }
  </ul>
</nav>

<script>
  document.addEventListener('astro:page-load', () => {
    const toggleButton = document.getElementById(
      'mobile-menu'
    ) as HTMLButtonElement;
    const mobileNav = document.getElementById('navbar-collapse') as HTMLElement;

    toggleButton.addEventListener('click', () => {
      if (mobileNav.classList.contains('hidden')) {
        toggleButton.classList.add('change');
        mobileNav.classList.remove('hidden');
        // Setting max-height to a large value to animate the opening
        mobileNav.style.maxHeight = `${mobileNav.scrollHeight}px`;
      } else {
        // Animate closing by setting max-height to 0
        mobileNav.style.maxHeight = '0px';
        toggleButton.classList.remove('change');
        mobileNav.addEventListener(
          'transitionend',
          () => {
            mobileNav.classList.add('hidden'); // Hide the element after the transition ends
          },
          { once: true }
        );
      }
    });
  });
</script>
