---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

// Fetch projects data
const allProjects: CollectionEntry<'projects'>[] = (
  await getCollection('projects')
)
  .sort(
    (a: CollectionEntry<'projects'>, b: CollectionEntry<'projects'>) =>
      b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  )
  .slice(0, 3);

const getTechColor = (tech: string) => {
  switch (tech.toLowerCase()) {
    case 'mongodb':
      return 'bg-green-600 text-white';
    case 'express':
      return 'bg-gray-700 text-white';
    case 'react':
      return 'bg-blue-500 text-white';
    case 'node.js':
      return 'bg-green-700 text-white';
    case 'zustand':
      return 'bg-indigo-600 text-white';
    case 'react query':
      return 'bg-teal-600 text-white';
    case 'tailwindcss':
      return 'bg-blue-700 text-white';
    case 'jwt':
      return 'bg-yellow-500 text-black';
    case 'astrojs':
      return 'bg-indigo-400 text-white';
    case 'typescript':
      return 'bg-blue-600 text-white';
    case 'supabase':
      return 'bg-green-500 text-white';
    case 'netlify':
      return 'bg-blue-800 text-white';
    default:
      return 'bg-gray-300 text-black'; // fallback for unknown techs
  }
};
---

<section class="mt-10 min-h-full w-full md:mt-20">
  <h2 class="mb-6 text-2xl font-bold">
    Recent <span class="text-lblue">Projects</span>
  </h2>
  <ul class="flex flex-col gap-y-10">
    {
      allProjects.map((project) => (
        <li class="grid cursor-pointer items-center overflow-hidden rounded-sm bg-project shadow-projectCard transition-transform duration-300 hover:translate-y-1 hover:shadow-lg md:grid-cols-[13rem_1fr] md:flex-row md:gap-4 md:p-4">
          <figure class="aspect-w-3 aspect-h-2">
            <a href={`/projects/${project.id}`}>
              <Image
                class="h-60 w-full sm:h-64 md:h-52"
                src={project.data.image.src}
                alt={project.data.image.alt}
              />
            </a>
          </figure>
          <article class="p-3 md:p-0">
            <div class="flex flex-col items-center gap-x-5 gap-y-5 md:flex-row">
              <a href={`/projects/${project.id}`}>
                <h3 class="text-center font-headfont text-xl font-bold text-white transition duration-300 ease-in-out hover:text-lblue">
                  {project.data.title}
                </h3>
              </a>

              {/* Tech stack */}
              <ul class="flex max-w-[30rem] flex-wrap items-center justify-center gap-2">
                {project.data.technology.map((tech) => (
                  <li
                    class={`rounded-full px-3 py-1 text-[0.6rem] font-medium ${getTechColor(tech)}`}
                  >
                    {tech}
                  </li>
                ))}
              </ul>
            </div>
            <p class="mx-1 mt-3 font-medium text-projectDesc">
              {project.data.description}
            </p>
          </article>
        </li>
      ))
    }
  </ul>
</section>
