---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import Pagination from '../../components/Pagination.astro';
import type { CollectionEntry } from 'astro:content';
import type { Page } from '../../types/dataTypes';
import { SITE, ISPARTOF } from '../../data/constant';
import turncateString from '../../utils/turncateString';
import Newsletter from '../../components/sections/Newsletter.astro';

interface Props {
  page: Page;
}

export async function getStaticPaths({ paginate }: any) {
  const PROJECT_PER_PAGE: number = 3;
  const allProjects: CollectionEntry<'projects'>[] = (
    await getCollection('projects')
  ).sort(
    (a: CollectionEntry<'projects'>, b: CollectionEntry<'projects'>) =>
      a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
  );

  // Return a paginated collection of paths
  return paginate(allProjects || [], {
    pageSize: PROJECT_PER_PAGE,
  });
}

// All paginated data is passed on the "page" prop
const { page } = Astro.props;
const title: string = `My Projects | ${SITE.title}`;
const description: string = 'This is my project page.';

const projectList = page.data;
const totalPages = Math.ceil(page.total / 3);
---

<MainLayout
  title={title}
  structuredData={{
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    '@id': 'https://melnerdz.com/projects',
    url: 'https://melnerdz.com/projects',
    name: 'My Projects | Melnerdz website',
    description: description,
    isPartOf: ISPARTOF,
    inLanguage: 'en-US',
  }}
  meta={description}
>
  <section>
    <h1
      class="mx-auto flex items-center justify-center text-center font-headfont text-3xl font-bold md:text-4xl"
    >
      My Project
    </h1>

    <p class="mt-6 hidden text-center font-medium text-white md:block">
      Discover my unique projects, including personal apps and client solutions,
      all tailored to meet specific needs with innovation and quality.
    </p>

    <p class="mt-6 block text-center font-medium text-white md:hidden">
      Discover my unique projects, including personal apps and client solutions
      project.
    </p>

    <div
      class="mt-12 grid grid-cols-1 gap-6 gap-y-9 sm:grid-cols-2 md:grid-cols-3"
    >
      {
        projectList.map((project) => (
          <li class="cursor-pointer list-none overflow-hidden rounded-sm bg-project shadow-projectCard transition-transform duration-300 hover:translate-y-1 hover:shadow-lg">
            <a
              href={`/projects/${project.id}`}
              class="cursor-pointer overflow-hidden rounded-sm bg-project shadow-projectCard transition-transform duration-300 hover:translate-y-1 hover:shadow-lg"
            >
              <figure class="aspect-w-3 aspect-h-2">
                <Image
                  class="h-60 w-full sm:h-64 md:h-52"
                  src={project.data.image.src}
                  alt={project.data.image.alt}
                />
              </figure>
              <article class="flex flex-col items-center justify-center px-2 py-6">
                <h2 class="text-center font-headfont text-xl font-bold text-white transition duration-300 ease-in-out hover:text-lblue">
                  {project.data.title}
                </h2>
                <p class="mx-1 mt-3 text-left font-medium text-projectDesc">
                  {turncateString(project.data.shortDesc, 150)}
                </p>
              </article>
            </a>
          </li>
        ))
      }
    </div>
    <Pagination
      currentPage={page.currentPage}
      totalPages={totalPages}
      disablePrevious={page.url.prev === undefined}
      disableNext={page.url.next === undefined}
      next={page.url.next}
      prev={page.url.prev}
    />

    <Newsletter />
  </section>
</MainLayout>
