---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import Pagination from '../../components/Pagination.astro';
import type { CollectionEntry } from 'astro:content';
import type { Page } from '../../types/dataTypes';
import { SITE, ISPARTOF } from '../../data/constant';
import turncateString from '../../utils/turncateString';

interface Props {
  page: Page;
}

export async function getStaticPaths({ paginate }: any) {
  const PROJECT_PER_PAGE: number = 3;
  const posts = await getCollection('blog');
  // Return a paginated collection of paths
  return paginate(posts || [], {
    pageSize: PROJECT_PER_PAGE,
  });
}

// All paginated data is passed on the "page" prop
const { page } = Astro.props;
const title: string = `Articles | ${SITE.title}`;
const description: string = 'This is my article page.';

const articles = page.data;
const totalPages = Math.ceil(page.total / 3);
---

<MainLayout
  title={title}
  structuredData={{
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    '@id': 'https://melnerdz.com/projects',
    url: 'https://melnerdz.com/projects',
    name: 'My Projects | Melnerdz website',
    description: description,
    isPartOf: ISPARTOF,
    inLanguage: 'en-US',
  }}
  meta={description}
>
  <section>
    <h1
      class="mx-auto flex items-center justify-center text-center font-headfont text-3xl font-bold md:text-4xl"
    >
      Welcome to my Blog
    </h1>

    <p class="mt-6 text-center font-medium text-white md:hidden">
      Here are some of my articles. Click on the title to read more.
    </p>

    <div
      class="mt-12 grid grid-cols-1 gap-6 gap-y-9 sm:grid-cols-2 md:grid-cols-3"
    >
      {
        articles.map((article) => (
          <li class="cursor-pointer list-none overflow-hidden rounded-sm bg-project shadow-projectCard transition-transform duration-300 hover:translate-y-1 hover:shadow-lg">
            <a
              href={`/projects/${article.id}`}
              class="cursor-pointer overflow-hidden rounded-sm bg-project shadow-projectCard transition-transform duration-300 hover:translate-y-1 hover:shadow-lg"
            >
              <figure>
                <Image
                  class="h-48 w-full object-cover"
                  src={article.data.image.src}
                  alt={article.data.image.alt}
                />
              </figure>
              <article class="flex flex-col items-center justify-center px-2 py-6">
                <h2 class="text-center font-headfont text-xl font-bold text-white transition duration-300 ease-in-out hover:text-lblue">
                  {article.data.title}
                </h2>
              </article>
            </a>
          </li>
        ))
      }
    </div>
    <!-- <Pagination
      currentPage={page.currentPage}
      totalPages={totalPages}
      disablePrevious={page.url.prev === undefined}
      disableNext={page.url.next === undefined}
      next={page.url.next}
      prev={page.url.prev}
    /> -->
  </section>
</MainLayout>
