---
import MainLayout from './MainLayout.astro';
import type { Project } from '../types/dataTypes';
import { Image } from 'astro:assets';

interface Props {
  project: Project;
}

const { project }: Props = Astro.props;
const title: string = project.title;
const description: string = project.description;
---

<MainLayout title={title} description={description}>
  <section class="mx-auto max-w-screen-lg py-6">
    <h1 class="text-center font-headfont text-3xl font-bold">
      {title}
    </h1>
    <div class="mx-auto mt-8 max-w-prose">
      <figure class="aspect-w-3 aspect-h-2">
        <Image src={project.image.src} alt={project.image.alt} />
      </figure>
      <article class="mt-8 text-base font-medium leading-8 text-projectDesc">
        <slot />
      </article>
    </div>
  </section>

  <style>
    li {
      list-style: disc;
    }

    a {
      text-decoration: underline;
    }

    p {
      font-size: 80px;
    }
  </style>
</MainLayout>
