---
import { Image } from 'astro:assets';
import type { Project } from '../types/dataTypes';
import MainLayout from './MainLayout.astro';
import Prose from '../components/Prose.astro';

interface Props {
  project: Project;
}

const { project }: Props = Astro.props;
const title: string = project.title;
const description: string = project.description;
---

<MainLayout title={title} description={description}>
  <section class="mx-auto max-w-screen-lg py-6">
    <h1 class="text-center font-headfont text-3xl font-bold">
      {title}
    </h1>
    <div class="mx-auto mt-8 flex max-w-prose flex-col gap-5">
      <figure
        class="flex h-full w-full justify-center overflow-hidden rounded-md"
      >
        <Image
          class="h-60 w-80 object-cover md:h-96 md:w-full"
          src={project.image.src}
          alt={project.image.alt}
        />
      </figure>
      <Prose>
        <slot />
      </Prose>
    </div>
  </section>
</MainLayout>
