---
import { Image } from 'astro:assets';
import type { Project, Blog } from '../types/dataTypes';
import MainLayout from './MainLayout.astro';
import Prose from '../components/Prose.astro';
import { SITE, ISPARTOF } from '../data/constant';

interface Props {
  data: Project | Blog;
  slug: string;
  collection: string;
}

const { data, slug, collection }: Props = Astro.props;
const title: string = `${data.title} | ${SITE.title}`;
const description: string = data.description;
console.log(description);
---

<MainLayout
  title={title}
  structuredData={{
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    '@id': `https://melnerdz.com/${collection}/${slug}`,
    url: `https://melnerdz.com/${collection}/${slug}`,
    name: `${data.title} | Melnerdz website`,
    description: description,
    isPartOf: ISPARTOF,
    inLanguage: 'en-US',
  }}
  meta={description}
>
  <section class="mx-auto max-w-screen-lg py-6">
    <h1 class="mb-20 text-center font-headfont text-3xl font-bold">
      {data.title}
    </h1>
    <div class="mx-auto flex max-w-prose flex-col gap-5">
      <figure
        class="flex h-full w-full justify-center overflow-hidden rounded-md"
      >
        <Image
          class="w-80 object-cover md:w-full"
          src={data.image.src}
          alt={data.image.alt}
        />
      </figure>
      <Prose>
        <slot />
      </Prose>
    </div>
  </section>
</MainLayout>
